@import '../../variables.scss';

.account-list {
  height: 100%;

  .account-list-title {
    padding: 15px;
    border-bottom: $default-border;
  }

  a.account-button {
    border-top: 1px solid $default-border-color;
    .account {
      padding: 8px;
      &.account-current {
        background-color: rgb(205, 241, 205);
      }

      .account-name {
        font-size: 16px;
        font-weight: bold;
      }

      .account-balance {
        font-size: 14px;
        font-weight: bold;
      }

      .account-number {
        font-size: 12px;
      }

      border-bottom: $border-gray-sm;
    }
  }

  a.account-button:hover {
    .account {
      background-color: $bg-gray;

      &.account-current {
        background-color: rgb(170, 238, 170);
      }
    }
  }
}
