<ng-template #ACCOUNTS_SPINNER>
  <div class="spinner"><mat-spinner diameter="40"></mat-spinner></div>
</ng-template>
<ng-container *ngIf="accounts$ | async as accounts; else ACCOUNTS_SPINNER">
  <div class="account-list">
    <div class="account-list-title">{{ 'account.subtitle' | translate }}</div>
    <ng-container *ngFor="let account of accounts">
      <a class="account-button" [routerLink]="'/account/' + account.id">
        <div class="account" [class.account-current]="account.id == selectedAccountId">
          <div class="account-name">{{ account.accountName }}</div>
          <div class="account-number">{{account.accountNumber}}</div>
          <div class="account-balance">{{ 'amount' | translate:{value: account.balance} }}</div>
        </div>
      </a>
    </ng-container>
  </div>
</ng-container>
