<div id="dashboard">
  <div class="sub-page-title">{{ 'dashboard.title' | translate }}</div>

  <div class="sub-page-content">
    <ng-template #CUSTOMER_SPINNER>
      <div class="spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </ng-template>
    <ng-container *ngIf="customer$ | async as customer; else CUSTOMER_SPINNER">
      <div class="customer-details">
        <div>
          <img [src]="customer.avatar" onerror="this.src='/assets/profile.gif'" />
        </div>
        <div class="customer-info">
          <div *ngIf="customer">{{ 'dashboard.welcome' | translate:{value:customer.name} }}</div>
          <div>{{ 'customer.since' | translate:{value:getFormattedMonthYear(customer?.createdAt)} }}</div>
        </div>
      </div>
    </ng-container>
    <account-list></account-list>
  </div>
</div>
