<div class="page-header">
  <div class="company-name">
    <h1>{{ 'page.title' | translate }}</h1>
  </div>
  <div *ngIf="customer" class="profile-container">
    <div class="customer-name"></div>
  </div>
</div>
