<div class="account-selected">
  <ng-template #ACCOUNT_SPINNER>
    <div class="spinner"><mat-spinner diameter="40"></mat-spinner></div>
  </ng-template>
  <ng-container *ngIf="account$ | async as account; else ACCOUNT_SPINNER">
    <div class="account-selected-details row no-gutters">
      <div class="col-sm-6">
        <div class="account-selected-title">{{ account.accountName }}</div>
        <div class="account-selected-number">{{ account.accountNumber }}</div>
      </div>
      <div class="col-sm-6">
        <div class="account-start-date">{{ formatMonthYear(account.createdAt) }}</div>
        <div class="account-selected-balance">{{ 'amount' | translate:{value: account.balance} }}</div>
      </div>
    </div>
    <div class="account-transactions">
      <ng-template #TRANSACTIONS_SPINNER>
        <div class="spinner"><mat-spinner diameter="40"></mat-spinner></div>
      </ng-template>
      <ng-container *ngIf="transactions$ | async as transactions; else TRANSACTIONS_SPINNER">
        <div class="transaction-list">
          <div class="transaction-header">
            <div class="transaction-title">{{ 'transaction.title' | translate }}</div>
            <div class="transaction row no-gutters">
              <div class="transaction-date col-sm-3">{{ 'transaction.date' | translate }}</div>
              <div class="transaction-type col-sm-6">{{ 'transaction.description' | translate }}</div>
              <div class="transaction-amount col-sm-3">{{ 'transaction.amount' | translate }}</div>
            </div>
          </div>
          <ng-container *ngFor="let transaction of transactions">
            <div>
              <div class="transaction row no-gutters">
                <div class="transaction-date col-sm-3">
                  <div class="transaction-month-day">{{ formatMonthDay(transaction.date) }}</div>
                  <div class="transaction-year">{{ formatYear(transaction.date) }}</div>
                </div>
                <div class="transaction-type col-sm-6 align-middle">
                  {{ formatTransactionType(transaction.transactionType) }}
                </div>
                <div class="transaction-amount col-sm-3 align-middle">
                  {{ 'amount' | translate:{value: transaction.amount} }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
