@import '../../variables.scss';

.account-selected {
  padding: 8px;

  .account-selected-details {
    padding: 8px;
    border-bottom: $default-border;

    .account-selected-title {
      font-size: 20px;
      font-weight: bold;
    }

    .account-selected-number {
      font-size: 14px;
    }

    .account-selected-balance {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
    }

    .account-start-date {
      text-align: right;
    }
  }

  .account-transactions {
    .transaction-list {
      padding: 8px;
      .transaction-header {
        border-bottom: $border-gray-sm;

        .transaction-title {
          font-size: 18px;
        }

        .transaction {
          text-transform: uppercase;
          font-size: 11px;
        }
      }

      .transaction {
        padding: 8px;
        border-bottom: $border-gray-sm;

        .transaction-date {
          text-align: left;

          .transaction-month-day {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
          }

          .transaction-year {
            font-size: 11px;
          }
        }

        .transaction-amount {
          text-align: right;
        }
      }
    }
  }
}
