<div id="acme-banking" class="app-container">
  <div class="main-container">
    <page-header></page-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
