// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$acme-banking-primary: mat-palette($mat-indigo);
$acme-banking-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$acme-banking-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$acme-banking-theme: mat-light-theme(
  (
    color: (
      primary: $acme-banking-primary,
      accent: $acme-banking-accent,
      warn: $acme-banking-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($acme-banking-theme);

@import './variables.scss';

a {
  text-decoration: none !important;
  color: inherit !important;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: lightblue !important;

  div#app {
    height: 100%;
  }

  .spinner {
    display: flex;
    align-items: center;
    padding: 60px;
  }

  .app-container {
    display: flex !important;
    justify-content: center;
    width: 100%;
    height: 100%;

    .main-container {
      min-width: 85%;
      height: 100%;

      .main-content {
        border: $default-border;
        background-color: #fff;
        min-height: 85%;

        .sub-page-title {
          font-size: 24px;
          padding: 20px 15px;
          background-color: $bg-gray;
          border-bottom: $default-border;
        }

        .sub-page-content {
          height: 100%;
        }
      }
    }
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
