<div id="account-details">
  <div class="sub-page-title">{{ 'account.title' | translate }}</div>
  <div class="sub-page-content row no-gutters">
    <div class="col-md-4 no-gutters account-list-container">
      <account-list [selectedAccountId]="selectedAccountId"></account-list>
    </div>
    <div class="col-md-8 no-gutters">
      <account-selected [account$]="account$" [transactions$]="transactions$"></account-selected>
    </div>
  </div>
</div>
